*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --cor-de-fundo: #0E1014;
    --cor-primaria: #ffffff;
    --cor-destaque: #9747FF;
    --cor-hover: #8233E8;
}

.container{
    background-color: var(--cor-de-fundo);
    color: var(--cor-primaria);
}
.main{
    text-align: center;
    margin: 3.75rem auto;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6.80% 18.75% 0 18.75%;
    
}

.main_titulo{
    font-size: 4rem;
    font-family: "Unbounded", sans-serif;
    font-weight: bold;
}

.main_titulo_span{
    color: var(--cor-destaque);
}

.main_paragrafo{
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    margin: 3.75rem auto 0 auto;
    width: 49.5rem;
}

.main_botao{
    color: var(--cor-primaria);
    background-color: var(--cor-destaque);
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    display: block;
    width:21.25rem;
    height: 4.125rem;
    line-height: 4.125rem;
    text-align: center;
    border-radius: 2.25rem;
    margin: 2.5rem auto;   
}

.main_botao:hover{
    background-color: var(--cor-hover);
}

.main_imagem{
    width: 49.5rem;
    height: 27.875rem;
    margin: 0 auto;
}

@media(max-width: 768px){

    .main_paragrafo{
        width: 648px;
    
    }
}

@media(max-width: 375px){

    .header{
    margin: 32px 16px 0 16px;
    
    }

    .main_paragrafo{
        width: 341px;
        font-size: 1.25rem;
        margin-top: 32px;
    }

    .main_titulo{
    font-size: 2.3rem;
    }

    .main_botao{
        font-size: 1.25rem;
        width: 251px;
        height: 66px;
    }

    .main_imagem{
        width: 340px;
        height: 230px;
    }
}